@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;0,14..32,400;0,14..32,500;0,14..32,600;1,14..32,300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: #ff964e;
  --red: #ff0803;
  --dark: #1e1810;
  --dark-2: #261f17;
  --dark-3: #2e271e;
  --gray: #575250;
  --gray-light: #7a7673;
  --cream: #f5f2ee;
  --white: #ffffff;
  --ff: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--ff);
  background: var(--cream);
  color: var(--dark);
  font-size: 16px;
  line-height: 1.65;
}

a {
  color: inherit;
  text-decoration: none;
}
